# IntelliJ IDEA
.idea/
.idea_modules/
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries/
.idea/inspectionProfiles/
.idea/assetWizardSettings.xml

# IntelliJ IDEA project module file
*.iml

# Eclipse
.classpath
.project
.settings/
.factorypath
.target/
.metadata/
.apt_generated/

# NetBeans
/nbproject/private/
/nbbuild/
/nbbuild/
/nbdist/
/nbactions.xml
/nb-configuration.xml

# VS Code
.vscode/

# Compiled class files
target/
bin/
out/
build/
classes/
*.class

# Maven
.mvn/
target/
dependency/
release/
pom.xml.releaseBackup
release.properties
pom.xml.versionsBackup
pom.xml.next
release.properties.next
pom.xml.backup

# OS or editor-specific files
Thumbs.db
.DS_Store

# Allow specific files in the target directory
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
